<html>

	<head>
			<title>My first blog</title>
	</head>	

	<body>
		<div>
			<h1><a href=""Django Girls Blog</a></a></h1>
		</div>

		<div>
			<p>published 05.16.15, 5:15 PM</p>
			<h2><a href="">My first post</a></h2>
			<p>Proin commodo massa aliquam, aliquet dui vitae, ultrices leo. Aenean interdum nunc id sodales tempus. In in ornare arcu. Donec finibus placerat lobortis. Sed sollicitudin vestibulum gravida. Aliquam viverra blandit urna, vestibulum euismod purus dictum eget. Nunc sit amet mi porttitor, sollicitudin libero sed, mollis enim.</p>
		</div>
		<p>Hi there!</p>
		<p>It works!</p>
	</body>

</html>